{% extends 'base.html' %}
{% load static %}
{% block title %}<title>RoadMap</title>{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static "@fullcalendar/core/main.css" %}">
  <link rel="stylesheet" href="{% static "@fullcalendar/timeline/main.css" %}">
  <link rel="stylesheet" href="{% static "@fullcalendar/resource-timeline/main.css" %}">

<style></style>

{% endblock %}

{% block javascript%}
<script src="{% static "@fullcalendar/core/main.js" %}"></script>
<script src="{% static "@fullcalendar/core/locales/fr.js" %}"></script>
<script src="{% static "@fullcalendar/interaction/main.js" %}"></script>
<script src="{% static "@fullcalendar/timeline/main.js" %}"></script>
<script src="{% static "@fullcalendar/resource-common/main.js" %}"></script>
<script src="{% static "@fullcalendar/resource-timeline/main.js" %}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    plugins: [ 'interaction', 'resourceTimeline' ],
    timeZone: 'UTC',
    locales: 'fr',
    defaultView: 'resourceTimelineTreeMonth',
    schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
    aspectRatio: 2.5,
    header: {
      left: 'prev,next',
      center: 'title',
      right: 'resourceTimelineDay,resourceTimelineWeek,resourceTimelineMonth'
    },
    editable: true,
    views:{
      resourceTimelineTreeMonth:{
        type:"resourceTimeline",
        duration:{months:3}
      }
    },
    resourceLabelText: 'RoadMaps',
    resources: "{% url 'roadmap:getRessources' %}",
    events: "{% url 'roadmap:getEvents' %}"
  });

  calendar.render();
});
</script>

{% endblock %}

{% block content%}
    <h1 style="margin-top:3em;">RoadMap</h1>
    <div id="calendar"></div>
    
{% endblock %}